.integrationCard {
	display: inline-block;
	padding: 1em;
	border-radius: 0.5em;
	color: var(--card-foreground);
	background-color: var(--card-background);
}

.header {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 1em;
}

.description {
	font-size: 0.875rem;
	color: var(--muted-foreground);
	margin-bottom: 1em;
}

.featuresHeader {
	font-size: 0.75rem;
	font-weight: 500;
	color: var(--muted-foreground);
	margin-bottom: 0.5em;
}

.featuresList {
	font-size: 0.875rem;
	margin-bottom: 1em;
}

.feature {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.icon {
	color: var(--primary-background);
}
