.header {
	border-bottom: 1px solid var(--border);
	margin-bottom: 1em;
}

.nav {
	padding: 1em;
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

.link:first-child {
	margin-right: auto;
	font-size: 1.5rem;
}
